html,
body {
  height: 100%;
  margin: 0;
}

canvas {
  display: block;
}

#canvasContainer {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}

img {
  width: 400px;
  height: auto;
}

.intro {
  height: 100%;
}

.art {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#owl {
  margin-top: 30px;
  position: relative;
}

#owl img {
  width: 250px;
  height: 640px;
}

#color-owl {
  position: absolute;
  opacity: 0;
}

#color-owl:hover {
  opacity: 100;
}

.titles {
  margin-top: -30px;
}

#diner {
  margin-top: 60px;
  position: relative;
}

#color-diner {
  position: absolute;
  opacity: 0;
}

#color-diner:hover {
  opacity: 100;
}

#cov {
  margin-top: 60px;
  position: relative;
}

#color-cov {
  position: absolute;
  opacity: 0;
}

#color-cov:hover {
  opacity: 100;
}

#sax {
  margin-top: 60px;
  position: relative;
}

#bw-sax {
  width: 375px;
  height: auto;
}

#color-sax {
  position: absolute;
  opacity: 0;
}

#color-sax:hover {
  opacity: 100;
}

#claire {
  margin-top: 75px;
  position: relative;
}

#color-claire {
  position: absolute;
  opacity: 0;
  width: 395px;
  height: auto;
}

#color-claire:hover {
  opacity: 100;
}

#claire-title {
  margin-top: auto;
}


p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Khand', sans-serif;
}


.bottom-info {
  margin-top: 200px;
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: auto;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 10%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}


.pop-up {
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  display: none;
  font-family: 'Khand', sans-serif;
  font-size: 200%
}

#popup-owl img {
  width: 290px;
}

#popup-diner img {
  width: 750px;
}

#popup-cov img {
  width: 500px;
}

#popup-sax img {
  width: 800px;
}

#popup-claire img {
  width: 500px;
}

#popup-owl-text {
  margin: 25%;
}

#popup-diner-text {
  margin: 17%
}

#popup-cov-text {
  margin: 25%
}

#popup-sax-text {
  margin: 17%
}

#popup-claire-text {
  margin: 25%;
}


.img-box {
  position: absolute;
  left: 50%;
}

#cozy-treehouse {
  top: 4932px;
  transform: translate(100px, 0%);
}

#vector-desert {
  top: 5234px;
  transform: translate(100px, 0%);
}

#unpaid-park {
  top: 4932px;
  transform: translate(-500px, 0%);
}

#two-faced {
  top: 3959px;
  transform: translate(-500px, 0%);
}

#always-reaching {
  top: 3959px;
  transform: translate(100px, 0%);
}

#nature-caption {
  top: 5312px;
  transform: translate(-500px, 0%);
  width: 400px;
  height: 206px;
  background-color: #ECECEC;

}



#blue-spice {
  top: 6860px;
  transform: translate(-500px, 0%)
}

#bokeh-bullet {
  top: 6275px;
  transform: translate(-500px, 0%)
}

#breath-life {
  top: 7105px;
  transform: translate(100px, 0%)
}

#bright-minds {
  top: 6520px;
  transform: translate(100px, 0%)
}

#dragon-dreams {
  top: 5800px;
  transform: translate(-500px, 0%)
}

#lazy-moon {
  top: 6100px;
  transform: translate(100px, 0%)
}

#skater-pop {
  top: 5800px;
  transform: translate(100px, 0%)
}

#mantis-bxtch {
  top: 5800px;
  transform: translate(-500px, 0%)
}

#once-happy {
  top: 5800px;
  transform: translate(100px, 0%)
}

#knowing-now {
  top: 7742px;
  transform: translate(-500px, 0%)
}

#never-stop {
  top: 7520px;
  transform: translate(100px, 0%)
}

#sunset-train {
  top: 7445px;
  transform: translate(-500px, 0%)
}

#forfun-caption {
  top: 7826px;
  transform: translate(100px, 0%);
  width: 400px;
  height: 365px;
  background-color: #ECECEC;
}


#high-chair {
  top: 9068px;
  transform: translate(100px, 0%)
}

#glass-cage {
  top: 8480px;
  transform: translate(100px, 0%)
}

#red-converse {
  top: 8905px;
  transform: translate(-500px, 0%)
}

#same-coin {
  top: 8480px;
  transform: translate(-500px, 0%)
}

#limbo {
  top: 9215px;
  transform: translate(-500px, 0%)
}

#commentary-caption {
  top: 9488px;
  transform: translate(100px, 0%);
  width: 400px;
  height: 295px;
  background-color: #ECECEC;
}

#fromref {
  margin-top: 6500px;
}